/*_______ Color variables _______*/

/*_______ Brand colors _______*/
$color__primary: 		#10284B;
$color__primary_half: 	#8793A5;
$color__primary_20: 	#CFD4DB;
$color__primary_10: 	#E7EAED;

$color__secondary: 		#381FD1;
$color__secondary_half: #9B8FE8;
$color__secondary_20:	#D7D2F6;
$color__secondary_10:	#EBE9FA;

$color__tertiary: 		#B200FD;
$color__tertiary_half:	#D880FE;
$color__tertiary_20:	#F0CCFF;
$color__tertiary_10:	#F7E6FF;

$color__quaternary: 	#DB0A5B;
$color__quaternary_half:#ED84AD;	
$color__quaternary_20:	#F8CEDE;
$color__quaternary_10:	#FBE7EF;

/*_______ Grays _______*/
$color__grey_blue: 		#8793A5;
$color__grey: 			#737477;
$color__grey_light: 	#968f88;
$color__grey_morelight: #CFD4DB;
$color__grey_verylight: #C4C4C4;
$color__grey_minimus: 	#DADADD;

$color__white: 			#ffffff;

/*_______ Element colors _______*/
$color__background-body: $color__white;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #143CA4;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #272727;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;