/*_______ Color variables _______*/

/*_______ Brand colors _______*/
$color__primary: 		#30394A;
$color__secondary: 		#DE8E95;
$color__secondary-half: #F4C3C8;
$color__tertiary: 		#47E2CD;
$color__tertiary_half:	#A3F1E6;
/*_______ Grays _______*/
$color__grey_blue: 		#787f86;
$color__grey: 			#737477;
$color__grey_light: 	#968f88;
$color__grey_morelight: #9e9e9e;
$color__grey_verylight: #C4C4C4;
$color__grey_minimus: 	#DADADD;

/*_______ Element colors _______*/
$color__background-body: $color__primary;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #143CA4;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #272727;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;