.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	float: none;
	position: relative;
	display: table;
	width: auto;
	font-weight: 700;
	font-size: 1.5rem;
	letter-spacing: 0;
	line-height: 100%;
	color: $color__white;
	text-align: center;
	text-transform: none;
	text-decoration: none;
	margin: 1rem auto;
	padding: .75em 1.25em;
	background-color: $color__quaternary;
	border: .125rem solid $color__quaternary !important;
	border-radius: .25rem;
	cursor: pointer;
	@extend %transition;
	@include phone-portrait{
		font-size: 1.5rem;
	}
	&:visited{
		color: inherit;
	}
	@include is-hover-supported{
		&:focus,
		&:hover{
			color: $color__quaternary !important;
			background-color: $color__white;
		}
	}
	&:active{
		color: $color__primary;
		background-color: $color__secondary;
	}
	&.invert{
		color: $color__tertiary;
		background-color: $color__primary;
		box-shadow: 0.125em 0.125em 0 $color__tertiary;
		&:focus,
		&:hover{
			color: $color__primary;
			background-color: $color__tertiary;
		}
	}
	&.outlined{
		font-weight: 700;
		font-size: 1.5rem;
		line-height: 100%;
		color: $color__primary;
		text-align: center;
		padding: .75em 1.25em;
		background-color: transparent;
		border: .25rem solid $color__primary;
		border-radius: 0;
		box-shadow: none;
		&:focus,
		&:hover{
			outline: none;
			color: $color__tertiary;
			background-color: $color__primary;
		}
	}
}

.wp-block-buttons{
	margin-bottom: 2rem;
}
.wp-block-button{
	margin-bottom: 2rem;
	.wp-block-button__link{
		font-weight: 700;
		font-size: 1.5rem;
		line-height: 100%;
		color: $color__white;
		text-align: center;
		text-decoration: none;
		padding: .75em 1.25em;
		background-color: $color__quaternary;
		border: .125rem solid $color__quaternary;
		border-radius: .25rem !important;
		@extend %transition;
		@include phone-portrait{
			font-size: 1.75rem;
		}
		&:focus{
			outline: none;
		}
		@include is-hover-supported{
			&:focus,
			&:hover{
				color: $color__quaternary !important;
				background-color: $color__white;
			}
		}
	}
	&.is-style-outline{
		.wp-block-button__link{
			font-size: 1.25rem;
			color: $color__quaternary;
			padding: .75em 1.25em;
			border: .125rem solid $color__quaternary;
			border-radius: .25rem;
			&:focus{
				outline: none;
			}
			@include is-hover-supported{
				&:focus,
				&:hover{
					color: $color__white !important;
					background-color: $color__quaternary;
				}
			}
		}
	}
	&.aligncenter{
		.wp-block-button__link{
			display: table;
			margin-left: auto;
			margin-right: auto;
		}
	}
	&.with-icon{
		.wp-block-button__link{
			&:after{
				display: inline-block;
				vertical-align: middle;
				font-family: 'dashicons';
				font-size: 1.5rem;
				margin-left: .5rem;
			}
		}
		&.right-arrow{
			.wp-block-button__link{
				&:after{
					content: "\f344";
				}
			}
		}
		&.down-arrow{
			.wp-block-button__link{
				&:after{
					content: "\f346";
				}
			}
		}
		&.external{
			.wp-block-button__link{
				&:after{
					content: "\f504";
				}
			}
		}
		&.map{
			.wp-block-button__link{
				&:after{
					content: "\f231";
					font-family: 'dashicons';
				}
			}
		}
		&.doc{
			.wp-block-button__link{
				&:after{
					content: "\f491";
					font-family: 'dashicons';
				}
			}
		}
	}
	&.external-link{
		margin-bottom: 1.25em;
		.wp-block-button__link{
			display: flex;
			align-items: center;
			font-weight: normal;
			font-size: 1.125rem;
			color: $color__quaternary;
			padding: 0;
			background-color: transparent;
			border: none;
			border-bottom: .125rem solid;
			border-radius: 0 !important;
			margin: 0;
			&:after{
				content: "\f504";
				font-family: 'dashicons';
				margin-left: .25rem;
			}
			@include is-hover-supported{
				&:focus,
				&:hover{
					color: $color__tertiary !important;
					background-color: transparent;
				}
			}
		}
	}
	&.anchor-link{
		.wp-block-button__link{
			color: $color__primary;
			background-color: transparent;
			border: .25rem solid $color__primary;
			box-shadow: none;
			&:after{
				content: "\f346";
				font-family: 'dashicons';
				vertical-align: middle;
			}
			@include is-hover-supported{
				&:focus,
				&:hover{
					color: $color__tertiary !important;
					background-color: transparent;
				}
			}
		}
	}
}

.more-link{
	display: table;
	font-size: .875rem;
	font-weight: 700;
	color: $color__primary;
	margin-left: auto;
	margin-right: 0;
	margin-bottom: 0;
	@include is-hover-supported{
		&:focus,
		&:hover{
			color: $color__tertiary;
		}
	}
}

.edit-link {
	display: block;
	font-size: 1rem;
	text-decoration: underline;
}