/*_______ Fixing the fixed header with admin bar _______*/
body.admin-bar {
	.site-header {
		top: 32px;
	}
	@include tablet-portrait{
		.site-header {
			top: 46px;
		}
	}
	@include phone{
		#wpadminbar {
			position: fixed;
		}
	}
}