/*_______ General layout _______*/
.site{
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	margin-top: 5rem;
	@media(min-width: 769px){
		margin-top: 6rem;
	}
}
.site-content{
	margin-bottom: 9rem;
}
