/*_______ Site header _______*/
.site-header{
	width:100%;
	display:flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	background-color: $color__white;
	padding: 1rem;
	margin: 0 auto;
	z-index: 10;
	@include phone-portrait{
		padding: 1rem 2rem;
	}
	.custom-header{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		flex: 0 0 auto;
		@include tablet-portrait{
			height: 100%;
		}
		.custom-header-media{
			display: none;
		}
		.site-branding{
			.custom-logo-link{
				display: block;
				margin: 0;
				padding: 0;
				@extend %transition;
				&:hover{
					opacity: .7;
				}
			}
			.custom-logo{
				display: block;
				width: 4rem;
				height: auto;
				@include tablet-portrait{
					width: 5rem;
				}
			}
		}
	}
	.main-navigation{
		flex-grow: 1;
	}
}
