/*_______ Footer _______*/
.site-footer{
	width: 100%;
	padding: 0;
	background-image: url(https://europe.wordcamp.org/2022/files/2022/04/wceu22-brand-elements-hor.png);
	background-repeat: repeat-x;
	background-position: top left;
	background-size: auto 4rem;
	margin-top: 8rem;
	margin-bottom: 0;
	&:before {
		content: '';
		display: block;
		height: 8rem;
	}
	#footer-widgets{
		margin-bottom: 4rem;
	}
}

/*_______ Site credits _______*/
.site-info{
	@extend %inner;
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 2rem 2rem 6rem;
	@include tablet-portrait{
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
	}
	p{
		font-size: .875rem;
		color: $color__secondary;
	}
	a{
		display: block;
		font-size: .875rem;
		line-height: 100%;
		text-decoration: underline;
		padding: 0;
		margin-bottom: 2rem;
		@include tablet-portrait{
			display: inline-block;
			vertical-align: middle;
			margin-bottom: 0;
		}
		&:last-of-type{
			margin-bottom: 0;
		}
		&:hover{
			color: $color__grey;
		}
	}
	span{
		display: none;
	}
	.site-info-generator{
	}
	.site-info-network{
		margin-left: 0;
		@include tablet-portrait{
			margin-left: auto;
		}
	}
	.privacy-policy-link{
		&:before{
			display: none;
			@include tablet-portrait{
				display: inline-block;
				vertical-align: middle;
				content: '';
				width: .0625rem;
				height: 1rem;
				background-color: $color__secondary;
				margin: 0 1rem;
			}
		}
	}
}
