.widget {
	margin: 0 0 2rem;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/*_______ Suscription widget _______*/
.jetpack_subscription_widget{
	.subscribe-text{
		p{
			font-size: 1rem;
		}
	}
	#subscribe-email{
		width: 60% !important;
		margin: 0 !important;
		float: left !important;
		input{
			width: 100% !important;
			height: 3.75rem !important;
			font-size: 1.125rem !important;
			color: $color__tertiary !important;
			padding: .25rem 1rem .25rem 1.5rem !important;
			background-color: $color__primary !important;
			border: .125rem solid $color__tertiary !important;
			border-radius: 2rem 0 0 2rem !important;
			box-shadow: 0.25em 0.125em 0 $color__secondary !important;
			@media(min-width: 480px){
				font-size: 1.25rem !important;
			}
			&::placeholder{
				color: $color__tertiary !important;
			}
			&:focus{
				outline: none !important;
				border-color: $color__secondary !important;
			}
		}
		label, br{
			display: none !important;
		}
	}
	#subscribe-submit{
		width: 40% !important;
		margin-bottom: 0 !important;
		float: right !important;
		br{
			display: none !important;
		}
		button{
			width: 100% !important;
			height: 3.75rem !important;
			font-size: 1.125rem !important;
			padding: .25rem 1.5rem .25rem 1rem !important;
			border: .125rem solid $color__tertiary !important;
			border-radius: 0 2rem 2rem 0 !important;
			box-shadow: 0.125em 0.125em 0 $color__secondary !important;
			margin: 0 !important;
			@media(min-width: 480px){
				font-size: 1.25rem !important;
			}
		}
	}
}

.widget{
	// &.jetpack_subscription_widget{
	// 	@extend %inner-tiny;
	// 	@extend %inner-padding;
	// 	margin-bottom: 4rem;
	// 	// form{
	// 	// 	display: flex;
	// 	// 	align-items: center;
	// 	// 	flex-flow: row wrap;
	// 	// }
	// 	button{
	// 		margin-left: 0;
	// 	}
	// }
	// #subscribe-text{
	// 	flex: 1 1 100%;
	// }
	// #subscribe-email{
	// 	flex: 1 1 100%;
	// 	margin: 0;
	// 	@media (min-width: 768px){
	// 		flex: 0 1 60%;
	// 	}
	// 	input{
	// 		width: 100%;
	// 	}
	// }
	// #subscribe-submit{
	// 	margin: 0 auto;
	// 	@media (min-width: 768px){
	// 		flex: 0 1 30%;
	// 	}
	// }
}