/*_______ Tables _______*/
table {
	max-width: 100%;
	width: 100%;
	margin: 0 0 2rem;
	text-align: left;
	border-collapse: collapse;
	thead{
		font-size: .875rem;
		text-align: left;
		border-bottom: .125rem solid $color__primary;
		th{
			padding: .25rem;
		}
		// @include phone-portrait{
		// 	+ tbody{
		// 		&:before{
		// 			content: '';
		// 			display: block;
		// 			padding-top: 1rem;
		// 		}
		// 	}
		// }
	}
}

.wp-block-table{
	font-size: 1rem;
	line-height: 120%;
	margin-bottom: 2rem;
	border-collapse: collapse;
	
	@include tablet-portrait{
		font-size: 1.25rem;
		min-width: inherit;
		word-break: keep-all;
	}
	thead{
		font-size: 1.5rem;
		color: white;
		background-color: $color__primary;
		th{
			font-size: 1rem;
			line-height: 120%;
			padding: .5rem 1rem;
			border-color: white;
			border-top-color: $color__primary;
			@include tablet-portrait{
				font-size: 1.25rem;
			}
			&:first-child{
				border-left-color: $color__primary;
			}
			&:last-child{
				border-right-color: $color__primary;
			}
		}
	}
	td{
		padding: 1rem;
	}
	tfoot{
		color: $color__primary;
		background-color: $color__tertiary;
	}
	&.firstcol-15{
		td:first-child {
			text-align: left;
			width: 15%;
		}
	}
	&.firstcol-20{
		td:first-child {
			text-align: left;
			width: 20%;
		}
	}
	&.firstcol-25{
		td:first-child {
			text-align: left;
			width: 25%;
		}
	}
	&.firstcol-30{
		td:first-child {
			text-align: left;
			width: 30%;
		}
	}
	&.firstcol-50{
		td:first-child {
			text-align: left;
			width: 50%;
		}
	}
	&.is-style-stripes{
		thead{
			color: $color__primary;
			background-color: transparent;
			th{
				font-weight: normal;
				font-size: .875rem;
				line-height: 100%;
				padding: 1rem;
				border-color: white;
				border-top-color: $color__primary;
				@include tablet-portrait{
					font-size: 1rem;
				}
				&:first-child{
					border-left-color: $color__primary;
				}
				&:last-child{
					border-right-color: $color__primary;
				}
			}
		}
		tbody{
			tr{
				&:nth-child(odd){
					background-color: $color__secondary_10;
				}

			}

		}
	}
}