/*_______ Colums block _______*/
.wp-block-columns {
	margin-top: 4rem;
	margin-bottom: 4rem;
	column-gap: 4rem !important;
	.wp-block-column{
		> %headings{
			margin-top: 0;
		}
		> .wp-block-buttons:last-child{
			margin-bottom: 0 !important;
		}
		&.has-background{
			padding: 1.5rem;
		}
	}
	&.highlighted-columns{
		.wp-block-column:not(:empty){
			@extend %camptix-item;
			padding: 2rem !important;
			h2{
				@include font-size(2);
				margin-bottom: .25em;
				@include tablet-portrait{
					@include font-size(2.5);
				}
			}
			h3{
				@include font-size(1.5);
				margin-bottom: .5em;
				@include tablet-portrait{
					@include font-size(1.875);
				}
			}
			h4{
				@include font-size(1.25);
				margin-bottom: .25em;
				@include tablet-portrait{
					@include font-size(1.5);
				}
			}
			h5{
				@include font-size(1.125);
				margin-bottom: .25em;
				@include tablet-portrait{
					@include font-size(1.25);
				}
			}
			h6{
				@include font-size(1);
				margin-bottom: .125em;
				@include tablet-portrait{
					@include font-size(1.125);
				}
			}
			p,
			ul,
			ol{
				font-size: 1.25rem;
				&.address-block{
					font-size: .875rem;
				}
			}
		}
	}
	&.info-columns{
		gap: 1rem;
		.wp-block-column:not(:empty){
			display: flex;
			flex-flow: column wrap;
			justify-content: flex-start;
			padding: .25em 0 .25em .75em;
			border-left: .25rem solid $color__tertiary;
			margin-bottom: 2rem;
			align-self: stretch;
			&.has-background{
				padding: 1.5rem;
			}
			h2{
				@include font-size(2);
				margin-bottom: .5em;
				@include tablet-portrait{
					@include font-size(2.5);
				}
			}
			h3{
				@include font-size(1.5);
				margin-bottom: .5em;
				@include tablet-portrait{
					@include font-size(1.875);
				}
			}
			h4{
				@include font-size(1.25);
				margin-bottom: .25em;
				@include tablet-portrait{
					@include font-size(1.5);
				}
			}
			h5{
				@include font-size(1.125);
				margin-bottom: .25em;
				@include tablet-portrait{
					@include font-size(1.25);
				}
			}
			h6{
				@include font-size(1);
				margin-bottom: .125em;
				@include tablet-portrait{
					@include font-size(1.125);
				}
			}
			p,
			ul,
			ol{
				font-size: 1.25rem;
				&.address-block{
					font-size: .875rem;
				}
				&:last-of-type{
					margin-bottom: 0;
				}
			}
			.wp-block-buttons{
				margin-top: auto;
			}
		}
		.notation{
			margin-top: 0;
		}
	}
}