/*_______ Notation block (paragraph highlighted with background color) _______*/
.gray-bg {
	background-color: $color__tertiary;
	padding: 2rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.inverted-text{
	color: $color__secondary;
}

.notation{
	padding: 1rem;
	background-color: $color__secondary-half;
	border: .25rem solid $color__tertiary;
	border-radius: 1rem;
	box-shadow: .25rem .25rem 0 $color__tertiary;
	margin-bottom: 2rem;
	@include phone-tiny{
		padding: 2rem;
	}
	%headings{
		&:first-child{
			margin-top: 0;
		}
	}
	.wp-block-group__inner-container{
		margin: 0;
	}
	%headings, p, a{
		color: $color__primary;
	}
	p{
		font-size: 1.25rem;
		line-height: 120%;
		&:last-of-type{
			margin-bottom: 0;
		}
	}
	ul, ol{
		margin-top: 0;
		color: $color__primary;
		padding-left: 1rem;
	}
	.wp-block-jetpack-contact-form,
	.contact-form{
		margin: 0;
	}
	&.dark{
		background-color: $color__primary;
		%headings, p, a{
			color: $color__secondary;
		}
	}
}

p + .notation,
%headings + .notation{
	margin-top: 4rem;
}

.schedule-time{
	position: relative;
	font-size: 1.5rem !important;
	line-height: 110%;
	padding-left: 2.25rem;
	&:before{
		content: "\f508";
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		font-family: 'dashicons';
		text-align: center;
		color: $color__secondary;
	}
}