/*_______ Jetpack sharing block _______*/
.sharedaddy{
	display: block;
	width: 100%;
	margin-top: 4rem;
	margin-bottom: 4rem;
	margin-left: 0 !important;
	margin-right: 0 !important;
	@media (min-width: 769px){
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.sd-title{
		display: block !important;
		font-size: 1.5rem !important;
		line-height: 100% !important;
		text-align: center;
		margin: 0 0 1rem 0 !important;
		&:before{
			display: none !important;
		}
	}
	ul{
		display:flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
		li{
			margin: 0 .75rem .75rem !important;
			&:before{
				display: none !important;
			}
			.share-icon{
				position: static !important;
				display: block !important;
				line-height: 100% !important;
				padding: .5rem !important;
				@media (min-width: 900px){
					padding: 1rem !important;
				}
				&:before{
					display: block !important;
					font-size: 1.5rem !important;	
					@media (min-width: 900px){
						font-size: 2rem !important;	
					}
				}
				.sharing-screen-reader-text, span{
					display:none;
					width: 0;
					height: 0;
					line-height: 0;
				}
			}
			&.share-end{
				display: none !important;
			}
		}
	}
}
