/*_______ General styles for some Camptix elements _______*/
%camptix-item{
	padding: 1.25rem;
	background-color: $color__white;
	border: none;
	border-radius: 0;
	margin-bottom: 1rem;
	box-shadow: .125rem .125rem .5rem transparentize($color__grey_blue, .5);
	@extend %transition;
	img{
		display: block;
		@extend %transition;
	}
}

%camptix-nice-link{
	position: relative;
	display: inline-block;
	font-weight: 400;
	font-size: 1.125rem;
	line-height: 100%;
	text-decoration: underline;
	color: $color__quaternary;
	margin-bottom: .25rem;
	z-index: 1;
	@include phone-tiny{
		font-size: 1.25rem;
	}
	&:focus,
	&:hover{
		color: $color__grey;
		text-decoration: underline;
	}
}

.speaker-feedback__notice{
	font-size: 1.5rem;
	font-weight: 700;
	color: $color__primary;
	background-color: $color__tertiary;
	border-left: .25rem solid $color__secondary;
	border-radius: 0;
}