/*_______ Home page _______*/
.home{
	.site{
		margin-top: 0;
	}
	.site-content,
	.entry-content,
	.hentry{
		margin-bottom: 0;
	}
	.entry-header{
		display: none !important;
		padding: 0 !important;
		margin: 0 !important;
	}
	.entry-content{
		%headings{
			color: $color__secondary !important;
		}
	}
}

/*_______ Big header on home page _______*/
.home-big-hero{
	padding-top: 3.8rem;
	padding-bottom: 0;
	background-image: url(https://europe.wordcamp.org/2022/files/2022/04/wceu22-brand-elements-right.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top right;
	margin-top: 0;
	margin-bottom: 2rem;
	@include tablet-portrait{
		padding-top: 5.475rem;
		padding-bottom: 2rem;
		background-image: url(https://europe.wordcamp.org/2022/files/2022/04/wceu22-brand-elements-full.png);
		background-position: top right;
		background-size: auto 38rem;
		margin-bottom: 4rem;
	}
	.wp-block-group__inner-container{
		margin-top: 0;
		margin-bottom: 0;
	}
	.wp-block-columns{
		padding: 0;
		@include phone-tiny{
			padding: 0 1rem;
		}
		&:first-child{
			.wp-block-column{
				flex-basis: 100% !important;
				@include tablet-portrait{
					flex-basis: inherit !important;
				}
			}
		}
	}
	.wceu-big-title{
		width: fit-content;
		@include font-size(5);
		font-weight: 700;
		line-height: 80%;
		color: $color__secondary !important;
		background-color: $color__white;
		padding: 1rem;
		margin-top: 0;
		margin-bottom: 0;
		@include tablet-portrait{
			@include font-size(8.5);
			padding: 1.5rem;
		}
		strong{
			color: $color__tertiary;
		}
	}
	.wceu-subtitle{
		width: fit-content;
		@include font-size(1.5);
		color: $color__secondary !important;
		padding: 1rem;
		background-color: $color__white;
		margin-top: 0 !important;
		margin-bottom: 0 !important;
		@include tablet-portrait{
			@include font-size(2.5);
			padding: 1.5rem;
		}
		strong{
			&:not(:first-child){
				color: $color__tertiary;
			}
		}
	}
	.wceu-pretitle{
		width: fit-content;
		@include font-size(1.5);
		color: $color__secondary !important;
		padding: 1rem;
		background-color: $color__white;
		margin-top: 0 !important;
		margin-bottom: 0 !important;
		@include tablet-portrait{
			@include font-size(2.25);
			padding: 1.5rem;
		}
		strong{
			&:not(:first-child),
			&:not(:last-child){
				color: $color__tertiary;
			}
		}
	}
}
.home-intro{
	padding: 0 2rem;
	margin-top: 0;
	margin-bottom: 6rem;
	@include tablet-portrait{
		margin-bottom: 8rem;
	}
	.wp-block-column{
		&:nth-child(2){
			order: -1;
			margin-bottom: 2rem;
			@include phone{
				order: 2;
				margin-bottom: 0;
			}
		}
	}
	
	.wceu-big-claim{
		color: $color__primary;
		margin-bottom: 0;
	}
}


.page-template-page-day-of{
	.wceu-big-title{
		font-size: 4rem;
		margin-top: 0 !important;
	}
}