/*_______ Home page _______*/
.home,
.page-template-page-full-width{
	.site{
		margin-top: 0;
	}
	.site-content,
	.entry-content,
	.hentry{
		margin-bottom: 0;
	}
	.entry-header{
		display: none;
		padding: 0 !important;
		margin: 0 !important;
	}
}

/*_______ Big header on home page _______*/
.home-big-hero{
	padding-top: 4rem;
	padding-bottom: 0;
	background-image: url(https://europe.wordcamp.org/2022/files/2021/06/wp-dots.png);
	background-repeat: no-repeat;
	background-size: 101%;
	background-position: 8rem -5rem;
	margin-top: 0;
	margin-bottom: 4rem;
	@include tablet-portrait{
		padding-bottom: 2rem;
		background-size: 70%;
		background-position: 130% -2.5rem;
		margin-bottom: 0;
	}
	.wp-block-group__inner-container{
		margin-top: 0;
		margin-bottom: 0;
	}
	.wp-block-columns{
		&:first-child{
			.wp-block-column{
				flex-basis: 100% !important;
				@include tablet-portrait{
					flex-basis: inherit !important;
				}
			}
		}
	}
	.wceu-big-title{
		font-size: 20vw;
		font-weight: 700;
		line-height: 80%;
		color: $color__secondary !important;
		margin-top: 0;
		margin-bottom: 0;
		@include tablet-portrait{
			@include font-size(15.5);
		}
		.second-word{
			margin-left: 2rem;
		}
		strong{
			font-size: 80%;
			color: $color__tertiary;
		}
	}
	.wceu-subtitle{
		font-size: 1.75rem;
		color: $color__secondary;
		margin-bottom: 0 !important;
		strong{
			color: $color__tertiary;
		}
	}
	.home-intro{
		padding: 0 2rem;
		margin-top: 0;
		margin-bottom: 6rem;
		@include tablet-portrait{
			margin-bottom: 8rem;
		}
		.wp-block-column{
			&:nth-child(2){
				order: -1;
				margin-bottom: 2rem;
				@include phone{
					order: 2;
					margin-bottom: 0;
				}
			}
		}
		
		.wceu-big-claim{
			color: $color__secondary;
			margin-bottom: 0;
		}
	}
}
