/*_______ Blog feed _______*/
.blog,
.archive,
.search-results{
	.site-main{
		@extend %inner;
		@extend %inner-padding;
		display: flex;
		flex-flow: row wrap;
		> header{
			flex: 1 1 100%;
			width: 100%;
			padding: 1.5rem 2rem 2rem 0;
			margin-bottom: 4rem;
			background-image: url(https://europe.wordcamp.org/2022/files/2022/04/wceu22-brand-elements-right-02.png);
			background-repeat: no-repeat;
			background-position: top right;
			background-size: contain;
			@include tablet-portrait{
				padding: 4rem 2rem;
			}
			.page-title{
				position: static !important;
				width: auto;
				height: auto;
				clip-path: none;
				color: $color__secondary;
				padding: 1rem 1rem 1rem 0;
				background-color: $color__white;
				margin-top: 0;
				margin-bottom: 1rem;
				@include phone-portrait{
					max-width: 75%;
				}
				@include tablet-portrait{
					padding: 1rem;
				}
			}
		}
	}
}

.archive,
.search-results{
	.hentry{
		max-width: $size__content-moretiny !important;
		padding: 0 2rem;
		margin: 0 auto 4rem !important;
	}
}

.blog,
.archive,
.search-results{
	.hentry{
		position:relative;
		@include phone-portrait{
			flex: 0 0 48%;
			max-width: 48%;
			margin: 0 1% 4rem;
		}
		@include tablet-portrait{
			flex: 0 0 31.333%;
			max-width: 31.333%;
			margin: 0 1% 4rem;
		}
		@extend %transition;
		.entry-header{
			padding: 0;
			background-color: transparent;
			margin-bottom: 0;
			.entry-image{
				position: relative;
				height: 10rem;
				margin-bottom: .5rem !important;
				overflow: hidden;
				@include tablet-portrait{
					height: 13rem;
				}
				// &:before{
				// 	content: '';
				// 	display: block;
				// 	position: absolute;
				// 	left: 0;
				// 	top: 0;
				// 	width: 100%;
				// 	height: 100%;
				// 	background-color: $color__secondary;
				// 	z-index: 1;
				// 	mix-blend-mode: multiply;
				// }
				img{
					display: block;
					width: 100%;
					height: 10srem;
					object-fit: cover;
					// filter: grayscale(1) brightness(1.25);
					@include tablet-portrait{
						height: 13rem;
					}
				}


				// max-height: 10rem;
				// margin-bottom: 1rem;
				// overflow: hidden;
				// img{
				// 	display:block;
				// 	@extend %transition;
				// }
			}
			.entry-title{
				display:block;
				font-size: 2rem;
				font-weight: 700;
				line-height: 100%;
				text-align: left;
				margin-top: 0;
				margin-bottom: .5rem;
				a{
					color: $color__tertiary;
				}
				&:hover{
					a{
						color: $color__secondary;
					}
				}
			}
			.entry-meta{
				font-weight: 400;
				font-size: .875rem;
				line-height: 100%;
				color: $color__grey_blue;
				margin-bottom: 1rem;
				.byline{
					display: none;
				}
				a {
					color: inherit;
				}
			}
		}
		.entry-content{
			max-height: 7.5rem;
			margin-top: 0;
			margin-bottom: 0;
			overflow: hidden;
		}
		%headings, p{
			font-size: 1rem;
			font-weight: 400;
			line-height: 120%;
			margin-bottom: .5rem;
		}
		.more-link{
			display: table;
			font-size: .875rem;
			font-weight: 700;
			text-decoration: none;
			color: $color__quaternary;
			padding-bottom: .125rem;
			border-bottom: .125rem solid;
			margin: 1rem 0 1rem auto;
			@extend %transition;
			&:hover{
				color: $color__secondary;
			}
		}
		.entry-footer{
			display:none;
		}
	}
}

/*_______ Posts navigation _______*/
.posts-navigation{
	width: 100%;
	margin: 0;
	.nav-links{
		display: flex;
		justify-content: space-between;
		padding-bottom: .125rem;
		.nav-next,
		.nav-previous{
			float: none;
			flex: 0 1 auto;
			a{
				font-size: 1.25rem;
				color: $color__quaternary;
				border-bottom: .125rem solid $color__quaternary;
				&:after,
				&:before{
					display: inline-block;
					vertical-align: middle;
					font-family: 'dashicons';
				}
			}
		}
		.nav-previous{
			margin-right: auto;
			a{
				&:before{
					content: "\f340";
					margin-right: .5rem;
				}
			}
		}
		.nav-next{
			margin-left: auto;
			a{
				&:after{
					content: "\f344";
					margin-left: .5rem;
				}
			}
		}
	}
}

/*_______ Sessions Category archive _______*/
.archive{
	&.tax-wcb_session_category{
		.site-main{
			margin-top: 0;
		}
		.page-header{
			background-color: white;
			padding: 4rem 2rem;
		}
		.hentry{
			padding: 0;
			border-left: .25rem solid $color__tertiary;
			&:focus,
			&:focus-within,
			&:hover{
				background-color: white;
			}
			.entry-title{
				font-size: 1.5rem;
			}
		}
	}
}