/*_______ Single view of post and page _______*/
.single{
	.site-content{
		margin-bottom: 0;
	}
	.entry-image{
		order: 3;
		margin: 0 auto;
		img{
			display: block;
			max-width: 100%;
			width: 100%;
			height: auto;
		}
	}
	.entry-meta{
		width: 100%;
		font-weight: 400;
		font-size: .875rem;
		line-height: 100%;
		color: $color__grey_blue;
		padding: .25rem 0 .25rem .5rem;
		margin: 1rem 0;
		@include tablet-portrait{
			font-size: 1rem;
			margin: 2rem 0;
		}
		a{
			color: $color__grey_blue;
			text-decoration: none;
		}
		.byline{
			display: none;
		}
	}
	.entry-content{
		
	}
}

.single,
.page{
	.site-content{
		a{
			&:focus,
			&:hover{
				outline: none;
				color: $color__secondary;
				text-decoration: none;
			}
		}
	}
	.entry-header{
		display: flex;
		flex-flow: column wrap;
		position: relative;
		padding: 8rem 0 0;
		background-image: url(https://europe.wordcamp.org/2022/files/2022/04/wceu22-brand-elements-right-02.png);
		background-repeat: no-repeat;
		background-position: top right;
		background-size: contain;
		margin-bottom: 3rem;
		@include tablet-portrait{
			padding: 3.5rem 10% 0;
			margin-bottom: 5rem;
			background-size: 50%;
		}
		@include tablet{
			background-size: auto 22rem;
		}
	}
	.entry-title{
		color: $color__secondary;
		padding: 1rem;
		background-color: $color__white;
		margin-top: 0;
		margin-bottom: 1rem;
		@include tablet-portrait{
			max-width: 75%;
		}
	}
	.entry-content{
		> *:not(.alignleft):not(.alignright):not(.alignwide):not(.alignfull):not(.is-style-wide){
			@extend %inner-tiny;
			@extend %inner-padding;
		}
		*:not([id^="more-"]) + %headings{
			margin-top: 1em;
		}
		%headings + %headings{
			margin-top: inherit;
		}
		/*_______ Anchors navigation fix _______*/
		%headings{
			color: $color__tertiary;
			&[id]::before {
				content: '';
				display: block;
				height: 8rem;
				margin: -8rem 0 0;
			}
		}
		span[id^="more-"]{
			display: none;
		}
		p:not(.wp-block-button){
			a{
				color: $color__secondary;
			}
		}
		a{
			word-break: break-word;
		}
	}
	.entry-footer{
		@extend %inner-tiny;
		@extend %inner-padding;
		padding-top: 2rem;
	}
}

.tags-links{
	a {
		display: inline-block;
		line-height: 100%;
		color: $color__primary;
		background-color: $color__tertiary;
		padding: .125rem .25rem;
		margin-bottom: .5rem;
		&:before {
			content: "\f323";
			font-family: 'dashicons';
			display: inline-block;
			vertical-align: middle;
			margin-right: .25rem;
			font-size: .875rem;
			text-decoration: none;
			color: $color__secondary;
			border: none;
		}
	}
}
.cat-links{
	a {
		color: $color__secondary;
		text-decoration: underline;
	}
}

.single{
	.posts-navigation,
	.post-navigation {
		@extend %inner;
		flex: 1 1 100%;
		padding: 4rem 1rem;
		overflow: hidden;
		@include tablet-portrait{
			padding: 0;
		}
		.nav-links{
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: center;
			div{
				flex: 0 1 46%;
				align-self: stretch;
				display: flex;
				align-items: center;
				margin: 0 auto;
				border-bottom: .125rem solid $color__quaternary;
				@extend %transition;
				@include tablet-portrait{
					position: fixed;
					top: 50%;
					z-index: 50;
				}
				a{
					position: relative;
					font-size: 1rem;
					line-height: 100%;
					padding: 0;
					color: $color__quaternary;
					background-color: transparent;
					@extend %transition;
					@include tablet-portrait{
						font-size: 0;
						width: 3rem;
						height: 3rem;
						color: $color__quaternary;
					}
					&:before,
					&:after{
						font-family: 'dashicons';
						position: static;
						display: inline-block;
						vertical-align: middle;
						padding: 0;
						@extend %transition;
						@include tablet-portrait{
							position: absolute;
							top: 50%;
							left: 20%;
							right: 20%;
							display: block;
							font-size: 1.5rem;
							line-height: 0;
							color: $color__quaternary;
						}
					}
					&:focus,
					&:hover{
						outline: none;
						color: $color__secondary;
						@include tablet-portrait{
							background-color: $color__quaternary;
						}
						&:before,
						&:after{
							color: $color__white;
						}
					}
				}
				&.nav-previous{
					justify-content: flex-start;
					left: 0;
					text-align: left;
					@include tablet-portrait{
						padding: 0;
						border: none
					}
					a{
						&:before{
							content: "\f340";
							margin-right: .25rem;
							@include tablet-portrait{
								left: 20%;
								right: 20%;
								margin: 0;
							}
						}
						&:focus,
						&:hover{
							&:before{
								@include tablet-portrait{
									left: 0;
								}
							}
						}
					}
				}
				&.nav-next{
					justify-content: flex-end;
					right: 0;
					text-align: right;
					padding-right: .5rem;
					@include tablet-portrait{
						padding: 0;
						border: none
					}
					a{
						display: block;
						line-height: 100%;
						&:after{
							content: "\f344";
							margin-left: .25rem;
							@include tablet-portrait{
								left: 20%;
								right: 20%;
								margin: 0;
							}
						}
						&:focus,
						&:hover{
							&:after{
								@include tablet-portrait{
									right: 0;
								}
							}
						}
					}
				}
			}
		}
	}
}