/*_______ Page template _______*/
.page-template-default .entry-header,
.page-template .entry-header{
	padding: 4rem 2rem 0;
	margin-bottom: 4rem;
	@media(min-width: 769px){
		padding: 4rem 10%;
		margin-bottom: 4rem;
	}
	.entry-title,
	.page-title{
		margin: 0;
	}
	.entry-image{
		display: none;
	}
}
.page-template,
.page-template-default{	
	.entry-footer{
		display: none;
	}
}