/*_______ Page template _______*/
.page-template-default .entry-header,
.page-template .entry-header{
	
	.entry-title,
	.page-title{
		margin: 0;
	}
	.entry-image{
		display: none;
	}
}
.page-template,
.page-template-default{	
	.entry-footer{
		display: none;
	}
}