/*_______ Tickets form _______*/
.tix-js{
	max-width: 960px !important;
	padding-top: 2rem;
	.tix_tickets_table{
		display: flex;
		justify-content: center;
		align-items: stretch;
		flex-flow: column wrap;
		@include phone{
			flex-flow: row wrap;
		}
		thead{
			display: none;
		}
		tbody{
			display: flex;
			flex-flow: column wrap;
			justify-content: center;
			@include phone{
				flex-flow: row wrap;
			}
		}
		tr[class^="tix-ticket-"] {
			@extend %camptix-item;
			flex-flow: row wrap;
			display: flex;
			justify-content: center;
			align-items: flex-start;
			text-align: center;
			margin: 0 auto 2rem;
			&:focus{
				box-shadow: 0 0 25px rgba(0, 0, 0, .2);
			}
			@include phone{
				flex: 0 1 40%;
				max-width: 40%;
				margin: 0 2% 2rem;
			}
		}
	}
	.tix-column-description{
		text-align: center;
		padding: 0;
		margin-bottom: 2rem;
		br{
			display: none;
		}
	}
	.tix-ticket-title {
		display: block;
		font-size: 2rem;
		font-weight: 700;
		line-height: 100%;
		color: $color__tertiary;
		padding: 1rem;
		background-color: $color__primary;
		margin-bottom: 1rem;
	}
	.tix-ticket-excerpt {
		display: block;
		font-size: 1.125rem;
		line-height: 120%;
		padding: 0 2rem;
	}
	.tix-column-price {
		font-size: 2rem;
		font-weight: 700;
		text-align: center;
		line-height: 100%;
		color: $color__tertiary;
		margin: auto auto .5rem;
	}
	.tix-column-quantity, .tix-column-remaining {
		flex: 0 1 100%;
		margin: auto auto 0;
	}
	.tix-column-remaining {
		font-size: 1rem;
		margin-bottom: 1rem;
		&:before {
			content: 'Only ';
		}
		&:after {
			content: ' remaining';
		}
	}
	.tix-column-quantity{
		// padding: 0 2rem;
		// &:before {
		// 	content: 'Choose your quantity';
		// 	display:block;
		// 	line-height: 100%;
		// }
		select{
			font-weight: 700;
			max-width: 8rem;
			margin: 1rem auto 2rem;
		}
	}
	.tix-row-coupon {
		flex: 1 1 100%;
		display: flex;
		text-align: center;
		td{
			width: 100%;
			text-align: center !important;
		}
		#tix-coupon-link{
			color: $color__primary;
		}
	}
	#tix-coupon-container {
		text-align: center;
		input {
			display: inline !important;
			max-width: 20rem;
			vertical-align: middle;
			padding: .5rem .875rem;
			box-sizing: border-box;
			margin: 0 auto 1rem !important;
		}
		&#tix-coupon-input {
			max-width: 30%;
		}
		input[type="submit"] {
			max-width: 12rem;
			font-size: 1.125rem;
			padding: .675rem;
		}
	}
}

#tix{
	padding-top: 0;
	input[type="submit"]{
		float: none !important;
	}
	#tix-errors,
	#tix-infos{
		margin: 1.5rem auto;
		.tix-error,
		.tix-info{
			font-size: 1.5rem;
			font-weight: 700;
			color: $color__primary;
			background-color: $color__tertiary;
			border: none;
			border-left: .25rem solid;
			border-radius: 0;
		}
		.tix-error{
			border-color: $color__secondary;
			&:before {
				content: "\f153";
				font-family: 'dashicons';
				display: inline-block;
				vertical-align: middle;
				color: $color__secondary;
				margin-right: .5rem;
			}
		}
		.tix-info{
			&:before {
				content: "\f529";
				font-family: 'dashicons';
				display: inline-block;
				vertical-align: middle;
				margin-right: .5rem;
			}
		}
	}
}

/*_______ Order Sumary _______*/
.tix-order-summary{
	tbody{
		width: 100%;
	}
	@include phone-portrait{
		/* Force table to not be like tables anymore */
		thead, tbody, th, td, tr {
			display: block;
			max-width: 100%;
			border: none;
		}
		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		td{
			/* Behave  like a "row" */
			position: relative;
			width: 100% !important;
			font-size: 1.25rem;
			line-height: 120%;
			text-align: left !important;
			padding-left: 40% !important;
			padding-bottom: .5rem;
			border: none;
			margin-bottom: .5rem;
			&:before {
				/* Now like a table header */
				position: absolute;
				/* Top/left values mimic padding */
				top: 20%;
				left: 0;
				width: 40%;
				font-size: 1rem;
				line-height: 100%;
				text-align: right;
				padding-right: 1rem;
				white-space: nowrap;
			}
			&[class^="tix-column-"]{
				font-size: 1.25rem;
				strong{
					font-weight: 400;
				}
				&:nth-of-type(1):before {
					content: "Description:";
				}
				&:nth-of-type(2):before {
					content: "Per Ticket:";
				}
				&:nth-of-type(3):before {
					content: "Quantity:";
				}
				&:nth-of-type(4):before {
					content: "Price:";
				}
			}
		}
		.tix-row-total{
			td{
				font-size: 1.5rem;
				font-weight: 700;
				border: none;
				&:first-child{
					display:none;
				}
				&:nth-of-type(2){
					&:before {
						content: "Total:";
					}
				}
			}
		}
	}
}

/*_______ Registry information _______*/
.tix-attendee-form,
.tix_invoice_table{
	tr {
		width: 100%;
		display: flex;
		flex-flow: column wrap;
		margin-bottom: 1rem;
		@include phone-portrait{
			flex-flow: row nowrap;
		}
	}
	td.tix-left{
		width: 100%;
		text-align:left;
		line-height: 120%;
		margin-bottom: .25rem;
		@include phone-portrait{
			width: 40%;
			text-align: right;
		}
		label{
			font-weight: 400;
			font-size: 1.25rem;
			@include phone-portrait{
				text-align: right;
			}
		}
	}
	td.tix-right{
		width: 100%;
		@include phone-portrait{
			width: 58%;
			margin-left: 2rem;
		}
		br{
			display: none;
		}
		label{
			margin-left: 10%;
			margin-bottom: 1.5rem;
			@include phone-portrait{
				margin-left: 0;
			}
			&:first-child{
				margin-top: 1rem;
				@include phone-portrait{
					margin-top: 0;
				}
			}
		}
		input[type="radio"],
		input[type="checkbox"]{
			float: left;
			margin-right: .5rem;
			margin-bottom: 1rem;
		}
		input,textarea, select{
			width:100% !important;
		}
		textarea{
			min-height: 6rem;
		}
	}
	.tix-required-star {
		color: $color__secondary;
		font-weight: 700;
	}
	.tix-row-question-3968 .tix-left:after {
		content: "(include @)";
		display: block;
		font-size: 70%;
		color: $color__secondary;
	}
	.tix-row-question-3969 .tix-left:after {
		content: "(https required)";
		display: block;
		font-size: 70%;
		color: $color__secondary;
	}
	.tix-row-coc{
		margin-bottom: 4rem;
	}
	.tix-row-covid-waiver{
		.tix-left{
			width: 100%;
			text-align: left;
			label{
				text-align: left;
				display: inline;
				flex-flow: row wrap;
			}
		}
		p{
			font-size: 1.125rem;
			color: $color__secondary;
		}
	}
}

.camptix-invoice-toggle-wrapper{
	display: block;
	margin-bottom: 4rem;
	label[for="camptix-need-invoice"]{
		display: inline-block;
		margin-left: .5rem;
	}
}

.tix_invoice_table{
	margin-top: 2rem;
}

#tix{
	.tix-submit{
		float: none !important;
		width: 100%;
		padding: 2rem 1rem;
		.tix-payment-method{
			display: none;
		}
		// .tix-payment-method {
		// 	display: flex;
		// 	flex-flow: row nowrap;
		// 	justify-content: center;
		// 	align-items: flex-end;
		// 	margin-bottom: 4rem;
		// 	.tix-payment-tab {
		// 		border: none;
		// 		border-radius: 0;
		// 		cursor: pointer;
		// 		padding: .5rem;
		// 		margin: 0;
		// 		text-align: center;
		// 		line-height: 100%;
		// 		font-size: 1.125rem;
		// 		font-weight: 400;
		// 		font-family: "Source Code Pro", sans-serif;
		// 		flex: 1 1 auto;
		// 		&:hover {
		// 			color: white;
		// 			background-color: $color__tertiary;
		// 			outline: none;
		// 			border: 0;
		// 		}
		// 		&.tix-tab-selected {
		// 			font-weight: 700;
		// 			color: white;
		// 			padding: .5rem;
		// 			background-color: $color__primary;
		// 			border: none;
		// 		}
		// 	}
		// }
		// .tix-alternate-payment-option {
		// 	float: none;
		// 	display: flex;
		// 	justify-content: flex-start;
		// 	align-items: center;
		// 	padding: 0;
		// 	margin-bottom: 1rem;
		// 	label {
		// 		color: $color__primary;
		// 		font-size: 1.25rem;
		// 		padding: 0 ;
		// 	}
		// }
		// .tix-payment-method-container {
		// 	float: none;
		// 	width: 100%;
		// 	display: flex;
		// 	justify-content: center;
		// 	padding: 0;
		// 	margin: 2rem auto;
		// 	&.tix-hidden {
		// 		display: none;
		// 	}
		// }
		.tix-checkout-button{
			float: none;
			letter-spacing: 0;
			font-weight: 700;
			font-size: 1.5rem;
			line-height: 100%;
			text-transform: none;
			color: $color__primary;
			padding: .75em 1.25em;
			background-color: $color__tertiary;
			border-radius: 5rem;
			box-shadow: 0.125em 0.125em 0 $color__secondary;
			@include is-hover-supported{
				&:focus,
				&:hover{
					outline: none;
					color: $color__primary !important;
					background-color: $color__secondary;
					box-shadow: 0 0 0 #47e2cd;
				}
			}
		}
	}
}