/*_______ Sponsors list _______*/
.home-sponsors{
	background-color: $color__tertiary;
	padding: 4rem 2rem;
}

.wcorg-sponsors{
	@extend %inner;
}

.wceu-sponsors-title{
	font-size: 2.5rem;
	text-align: center;
	@include tablet-portrait{
		font-size: 3rem;
	}
}

div[class^="wcorg-sponsor-level-"] {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	&:not(:last-of-type){
		margin-bottom: 4rem;
	}
	%headings{
		flex: 1 1 100%;
		font-size: 1.5rem;
		text-align: center;
		margin-bottom: 1.5rem;
		@include tablet-portrait{
			font-size: 2rem;
		}
		&:before{
			content: '';
			display: block;
			width: 2rem;
			height: .25rem;
			background-color: $color__secondary;
			margin: 0 auto .5rem;
		}
	}
}

.wcorg-sponsor{
	margin: 0;
	@include tablet-portrait{
		max-width: inherit;
		margin: 0;
	}
	a{
		display: block;
	}
	img{
		display: block;
		margin: 0 auto;
	}
}

.wcorg-sponsor-level-super-admin{
	.wcorg-sponsor{
		flex: 1 1 100%;
		@include tablet-portrait{
			flex: 0 1 50%;
		}
		img{
			width: auto;
			max-height: 14rem;
		}
	}	
}

.wcorg-sponsor-level-administrator{
	.wcorg-sponsor{
		flex: 0 1 80%;
		@include tablet-portrait{
			flex: 0 1 33.333%;
		}
		img{
			width: auto;
			max-height: 12rem;
		}
	}	
}

.wcorg-sponsor-level-editor{
	.wcorg-sponsor{
		flex: 0 1 80%;
		@include tablet-portrait{
			flex: 0 1 25%;
		}
		img{
			width: auto;
			max-height: 10rem;
		}
	}
}

.wcorg-sponsor-level-author{
	.wcorg-sponsor{
		flex: 0 1 80%;
		@include tablet-portrait{
			flex: 0 1 20%;
		}
		img{
			width: auto;
			max-height: 8rem;
		}
	}
}

.wcorg-sponsor-level-smb{
	.wcorg-sponsor{
		flex: 0 1 70%;
		@include tablet-portrait{
			flex: 0 1 20%;
		}
		img{
			width: auto;
			max-height: 8rem;
		}
	}	
}

.wcorg-sponsor-level-after-party,
.wcorg-sponsor-level-coffee-break,
.wcorg-sponsor-level-media-partners,
.wcorg-sponsor-level-partner
{
	.wcorg-sponsor{
		@include tablet-portrait{
			flex: 0 1 31.333%;
		}
		img{
			width: auto;
			max-height: 10rem;
		}
	}	
}

/*_______ Sponsors single _______*/
.single{
	&.single-wcb_sponsor{
		.entry-image{
			order: 0;
			display: flex;
			align-items: center;
			width: 200px;
			height: 200px;
			padding: 0 1rem;
			background: white;
			border-radius: 100%;
			margin-bottom: 1.5rem;
			@include tablet-portrait{
				width: 300px;
				height: 300px;
				padding: 0 2rem;
			}
		}
		.entry-title{
			&::before{
				content: '/Sponsor';
				display: block;
				font-size: 1.25rem;
				line-height: 100%;
				color: $color__tertiary_half;
				margin: 0;
				@include tablet-portrait{
					font-size: 1.5rem;
				}
			}
		}
	}
}


.sponsor-booths{
	max-width: 70% !important;
	margin-left: auto !important;
	margin-right: auto !important;
	border-collapse: collapse;
	@include tablet-portrait{
		max-width: $size__content-moretiny;
	}
	tr{
		@include tablet-portrait{
			border: none;
		}
		td{
			display: block;
			@include tablet-portrait{
				display: table-cell;
			}
			&:first-child{
				@include tablet-portrait{
					max-width: 200px;
					text-align: right;
					padding-right: 2rem;
				}
			}
		}
		%headings{
			font-size: 1.75rem;
		}
		.wp-block-button__link{
			font-size: 1.25rem !important;
		}
	}
}