/*_______ Sponsors list _______*/
.wordcamp-post-list.has-layout-grid{
	padding: 0 !important;
}

[class^="block-sponsors"]{
	display: flex !important;
	flex-flow: row wrap;
	justify-content: center;
}

.block-sponsors-admin,
.block-sponsors-editor,
.block-sponsors-author,
.block-sponsors-smallbusines,
.block-sponsors-afterparty,
.block-sponsors-charging{
	li{
		flex: 0 1 80%;
		margin: 0 auto;
		@include phone-portrait{
			flex: 0 1 20%;
			margin: 0 1%;
		}
	}
}

.wcorg-sponsor-level-super-admin{
	.wcorg-sponsor{
		flex: 1 1 100%;
		@include tablet-portrait{
			flex: 0 1 50%;
		}
		img{
			width: auto;
			max-height: 14rem;
		}
	}	
}

.wcorg-sponsor-level-administrator{
	.wcorg-sponsor{
		flex: 0 1 80%;
		@include tablet-portrait{
			flex: 0 1 33.333%;
		}
		img{
			width: auto;
			max-height: 12rem;
		}
	}	
}

.wcorg-sponsor-level-editor{
	.wcorg-sponsor{
		flex: 0 1 80%;
		@include tablet-portrait{
			flex: 0 1 25%;
		}
		img{
			width: auto;
			max-height: 10rem;
		}
	}
}

.wcorg-sponsor-level-author{
	.wcorg-sponsor{
		flex: 0 1 80%;
		@include tablet-portrait{
			flex: 0 1 20%;
		}
		img{
			width: auto;
			max-height: 8rem;
		}
	}
}

.wcorg-sponsor-level-smb{
	.wcorg-sponsor{
		flex: 0 1 70%;
		@include tablet-portrait{
			flex: 0 1 20%;
		}
		img{
			width: auto;
			max-height: 8rem;
		}
	}	
}

.wcorg-sponsor-level-after-party,
.wcorg-sponsor-level-coffee-break,
.wcorg-sponsor-level-media-partners,
.wcorg-sponsor-level-partner
{
	.wcorg-sponsor{
		@include tablet-portrait{
			flex: 0 1 31.333%;
		}
		img{
			width: auto;
			max-height: 10rem;
		}
	}	
}

/*_______ Sponsors single _______*/
.single{
	&.single-wcb_sponsor{
		.entry-image{
			order: 1;
			display: flex;
			align-items: center;
			width: 300px;
			background: white;
			@include phone-portrait{
				width: 360px;
				height: auto;
				padding: 0 1rem;
			}
			@include tablet-portrait{
				width: 600px;
				height: 350px;
				padding: 0;
			}
		}
		.entry-title{
			max-width: fit-content;
			margin-bottom: 0;
			&::before{
				content: '/Sponsor';
				display: block;
				font-size: 1.25rem;
				line-height: 100%;
				color: $color__tertiary_half;
				margin: 0;
				@include tablet-portrait{
					font-size: 1.5rem;
				}
			}
		}
	}
}


.sponsor-booths{
	max-width: 70% !important;
	margin-left: auto !important;
	margin-right: auto !important;
	border-collapse: collapse;
	@include tablet-portrait{
		max-width: $size__content-moretiny;
	}
	tr{
		@include tablet-portrait{
			border: none;
		}
		td{
			display: block;
			@include tablet-portrait{
				display: table-cell;
			}
			&:first-child{
				@include tablet-portrait{
					max-width: 200px;
					text-align: right;
					padding-right: 2rem;
				}
			}
		}
		%headings{
			font-size: 1.75rem;
		}
		.wp-block-button__link{
			font-size: 1.25rem !important;
		}
	}
}