/*_______ Schedule page _______*/

/*_____ Inline styles _____*/
@supports ( display: grid ) {
	@media screen and ( min-width: 550px ) {
		#wordcamp-schedule__day-2022-06-03-tracks-all {
			grid-template-columns:
			[times] auto
			[wordcamp-schedule-track-46-start] 1fr
				[
					wordcamp-schedule-track-46-end
					wordcamp-schedule-track-47-start
				] 1fr

				[
					wordcamp-schedule-track-47-end
					wordcamp-schedule-track-48-start
				] 1fr

				[
					wordcamp-schedule-track-48-end
					wordcamp-schedule-track-49-start
				] 1fr
			[wordcamp-schedule-track-49-end];
			/* Organizers: Set these to `1fr` to make the row height relative to the time duration of the session. */
			grid-template-rows:
				[tracks] auto
				[time-030900] auto [time-030930] auto [time-030930] auto [time-031030] auto [time-031030] auto [time-031100] auto [time-031100] auto [time-031100] auto [time-031100] auto [time-031100] auto [time-031200] auto [time-031200] auto [time-031200] auto [time-031200] auto [time-031200] auto [time-031200] auto [time-031300] auto [time-031300] auto [time-031300] auto [time-031300] auto [time-031300] auto [time-031300] auto [time-031300] auto [time-031300] auto [time-031400] auto [time-031400] auto [time-031400] auto [time-031400] auto [time-031400] auto [time-031500] auto [time-031500] auto [time-031500] auto [time-031500] auto [time-031500] auto [time-031600] auto [time-031600] auto [time-031600] auto [time-031600] auto [time-031600] auto [time-031600] auto [time-031700] auto [time-031700] auto [time-031700] auto [time-031700] auto [time-031700] auto [time-031700] auto [time-031800] auto [time-031800] auto [time-031800] auto [time-031800] auto [time-031800] auto [time-031800] auto [time-031900] auto [time-031900] auto [time-031900] auto [time-031900] auto [time-031900] auto [time-031915] auto ;
		}
	}
}

/*_____ Block styles?? _____*/
.wp-block[data-type="wordcamp/schedule"]
	.editor-block-list__block-edit{
		padding-left:1em;
		padding-right:1em
	}
	.notice.day-has-overlapping-sessions{
		background-color:#f8ebea;
		margin:10px 0 20px
	}
	.notice.day-has-overlapping-sessions p{
		margin:0
	}
	.notice.day-has-overlapping-sessions ul{
		margin:2px 0 8px
	}
	.wordcamp-schedule__day{
		background-color:#fbfbfc
	}
@supports(display:grid){
	@media screen and (min-width:550px){
	body:not(.block-editor-page) .wordcamp-schedule:not(.is-style-single-column-layout) .wordcamp-schedule__day{
	grid-gap:1px;display:grid
}

}
@media screen and (min-width:1025px){
	body.block-editor-page .wordcamp-schedule:not(.is-style-single-column-layout) .wordcamp-schedule__day{
	grid-gap:1px;display:grid
}

}

}
.editor-styles-wrapper .wordcamp-schedule__date{
	margin-bottom:0
}
.editor-styles-wrapper .wordcamp-schedule__date:before{
	content:none
}
.wordcamp-schedule__column-header{
	background-color:#fff;display:none;font-size:.75em;font-weight:700;text-align:center
}
@supports(display:grid){
	@media screen and (min-width:550px){
	body:not(.block-editor-page) .wordcamp-schedule:not(.is-style-single-column-layout) .wordcamp-schedule__column-header{
	background-color:rgba(251,251,252,.92);display:block;grid-row:tracks;margin:0 -1px;padding:10px 5px 5px;position:sticky;top:0;z-index:10
}

}
@media screen and (min-width:1025px){
	body.block-editor-page .wordcamp-schedule:not(.is-style-single-column-layout) .wordcamp-schedule__column-header{
	background-color:rgba(251,251,252,.92);display:block;grid-row:tracks;margin:0 -1px;padding:10px 5px 5px;position:sticky;top:0;z-index:10
}

}

}
.editor-styles-wrapper h3.wordcamp-schedule__time-slot-header,.wordcamp-schedule__session,.wordcamp-schedule__time-slot-header{
	border:1px solid #e0e5e9;border-top:none;font-size:14px;padding:14px
}
@supports(display:grid){
	@media screen and (min-width:550px){
	body:not(.block-editor-page) .wordcamp-schedule:not(.is-style-single-column-layout) .editor-styles-wrapper h3.wordcamp-schedule__time-slot-header,body:not(.block-editor-page) .wordcamp-schedule:not(.is-style-single-column-layout) .wordcamp-schedule__session,body:not(.block-editor-page) .wordcamp-schedule:not(.is-style-single-column-layout) .wordcamp-schedule__time-slot-header{
	border:none;box-shadow:0 0 1px 1px #e0e5e9;margin-bottom:0;position:relative;z-index:5
}

}
@media screen and (min-width:1025px){
	body.block-editor-page .wordcamp-schedule:not(.is-style-single-column-layout) .editor-styles-wrapper h3.wordcamp-schedule__time-slot-header,body.block-editor-page .wordcamp-schedule:not(.is-style-single-column-layout) .wordcamp-schedule__session,body.block-editor-page .wordcamp-schedule:not(.is-style-single-column-layout) .wordcamp-schedule__time-slot-header{
	border:none;box-shadow:0 0 1px 1px #e0e5e9;margin-bottom:0;position:relative;z-index:5
}

}

}
.editor-styles-wrapper h3.wordcamp-schedule__time-slot-header.wordcamp-schedule__session-type-regular,.wordcamp-schedule__session.wordcamp-schedule__session-type-regular,.wordcamp-schedule__time-slot-header.wordcamp-schedule__session-type-regular{
	padding:4px 10px 12px
}
.wordcamp-schedule__time-slot-header{
	background-color:#e0e5e9;border-bottom:none;display:flex;flex-direction:column;justify-content:center;min-width:100px;text-align:center
}
.wordcamp-schedule__time-slot-header.is-empty{
	display:none
}
@supports(display:grid){
	@media screen and (min-width:550px){
	body:not(.block-editor-page) .wordcamp-schedule:not(.is-style-single-column-layout) .wordcamp-schedule__time-slot-header.is-empty{
	display:flex
}

}
@media screen and (min-width:1025px){
	body.block-editor-page .wordcamp-schedule:not(.is-style-single-column-layout) .wordcamp-schedule__time-slot-header.is-empty{
	display:flex
}

}

}
@supports(display:grid){
	@media screen and (min-width:550px){
	body:not(.block-editor-page) .wordcamp-schedule:not(.is-style-single-column-layout) .wordcamp-schedule__time-slot-header{
	background-color:transparent;grid-column:times
}

}
@media screen and (min-width:1025px){
	body.block-editor-page .wordcamp-schedule:not(.is-style-single-column-layout) .wordcamp-schedule__time-slot-header{
	background-color:transparent;grid-column:times
}

}

}
.editor-styles-wrapper .wordcamp-schedule__time-slot-header,.wordcamp-schedule__time-slot-header{
	font-weight:400;margin:2em 0 0
}
@supports(display:grid){
	@media screen and (min-width:550px){
	body:not(.block-editor-page) .wordcamp-schedule:not(.is-style-single-column-layout) .editor-styles-wrapper .wordcamp-schedule__time-slot-header,body:not(.block-editor-page) .wordcamp-schedule:not(.is-style-single-column-layout) .wordcamp-schedule__time-slot-header{
	margin-top:0
}

}
@media screen and (min-width:1025px){
	body.block-editor-page .wordcamp-schedule:not(.is-style-single-column-layout) .editor-styles-wrapper .wordcamp-schedule__time-slot-header,body.block-editor-page .wordcamp-schedule:not(.is-style-single-column-layout) .wordcamp-schedule__time-slot-header{
	margin-top:0
}

}

}
body.block-editor-page .wordcamp-schedule:not(.is-style-single-column-layout) .wordcamp-schedule__session.is-overlapping-another-session,body.block-editor-page .wordcamp-schedule__session.is-overlapping-another-session{
	border:2px solid #cb423b
}
@supports(display:grid){
	@media screen and (min-width:550px){
	body:not(.block-editor-page) .wordcamp-schedule:not(.is-style-single-column-layout) .wordcamp-schedule__session{
	margin:0
}
body:not(.block-editor-page) .wordcamp-schedule:not(.is-style-single-column-layout) .wordcamp-schedule__session.is-overlapping-another-session{
	padding-bottom:125px
}
body:not(.block-editor-page) .wordcamp-schedule:not(.is-style-single-column-layout) .wordcamp-schedule__session.is-spanning-some-tracks{
	text-align:center
}

}
@media screen and (min-width:1025px){
	body.block-editor-page .wordcamp-schedule:not(.is-style-single-column-layout) .wordcamp-schedule__session{
	margin:0
}
body.block-editor-page .wordcamp-schedule:not(.is-style-single-column-layout) .wordcamp-schedule__session.is-overlapping-another-session{
	padding-bottom:125px
}
body.block-editor-page .wordcamp-schedule:not(.is-style-single-column-layout) .wordcamp-schedule__session.is-spanning-some-tracks{
	text-align:center
}

}

}
.editor-styles-wrapper .wordcamp-schedule__session-title,.editor-styles-wrapper .wp-block .wordcamp-schedule h4,.wordcamp-schedule__session-title{
	font-size:1.1em;margin:0
}
.editor-styles-wrapper .wordcamp-schedule__session-speakers a{
	color:#23282d
}
.editor-styles-wrapper h4.wordcamp-schedule__session-title,.wordcamp-schedule__session-category,.wordcamp-schedule__session-speakers,.wordcamp-schedule__session-title,.wordcamp-schedule__session-tracks{
	display:block;line-height:1.6
}
.editor-styles-wrapper h4.wordcamp-schedule__session-title a,.wordcamp-schedule__session-category a,.wordcamp-schedule__session-speakers a,.wordcamp-schedule__session-title a,.wordcamp-schedule__session-tracks a{
	text-decoration:none
}
.editor-styles-wrapper h4.wordcamp-schedule__session-title a:hover,.wordcamp-schedule__session-category a:hover,.wordcamp-schedule__session-speakers a:hover,.wordcamp-schedule__session-title a:hover,.wordcamp-schedule__session-tracks a:hover{
	text-decoration:underline
}
.editor-styles-wrapper dl.wordcamp-schedule__session-category dd,.editor-styles-wrapper dl.wordcamp-schedule__session-speakers dd,.editor-styles-wrapper dl.wordcamp-schedule__session-tracks dd,dl.wordcamp-schedule__session-category dd,dl.wordcamp-schedule__session-speakers dd,dl.wordcamp-schedule__session-tracks dd{
	display:inline;margin-left:0;margin-right:0
}
.editor-styles-wrapper dl.wordcamp-schedule__session-category dd:after,.editor-styles-wrapper dl.wordcamp-schedule__session-speakers dd:after,.editor-styles-wrapper dl.wordcamp-schedule__session-tracks dd:after,dl.wordcamp-schedule__session-category dd:after,dl.wordcamp-schedule__session-speakers dd:after,dl.wordcamp-schedule__session-tracks dd:after{
	content:", "
}
.editor-styles-wrapper dl.wordcamp-schedule__session-category dd:last-child:after,.editor-styles-wrapper dl.wordcamp-schedule__session-speakers dd:last-child:after,.editor-styles-wrapper dl.wordcamp-schedule__session-tracks dd:last-child:after,dl.wordcamp-schedule__session-category dd:last-child:after,dl.wordcamp-schedule__session-speakers dd:last-child:after,dl.wordcamp-schedule__session-tracks dd:last-child:after{
	content:""
}
@supports(display:grid){
	@media screen and (min-width:550px){
	body:not(.block-editor-page) .wordcamp-schedule:not(.is-style-single-column-layout) .wordcamp-schedule__session-tracks{
	display:none
}

}
@media screen and (min-width:1025px){
	body.block-editor-page .wordcamp-schedule:not(.is-style-single-column-layout) .wordcamp-schedule__session-tracks{
	display:none
}
}
}


/*_____ Cusom Block styles _____*/
.wordcamp-schedule__date{
	font-size: 2.5rem;
	line-height: 120%;
	text-align: center;
}
.wordcamp-schedule__day{
	background-color: $color__white !important;
	.wordcamp-schedule__column-header{
		color: $color__white;
		font-size: 1rem;
		line-height: 100%;
		padding: 1rem 0 !important;
		background-color: $color__secondary !important;
		box-shadow: 0 0 1px 1px $color__secondary !important;
		&.is-column-time{
			font-size: 0;
			text-indent: -9999px;
			background-color: $color__white !important;
			box-shadow: none !important;
		}
	}
	.wordcamp-schedule__time-slot-header{
		color: $color__white !important;
		background-color: $color__primary !important;
		justify-content: flex-start;
		margin: 0;
		&::after{
			font-size: .75rem;
		}
		&.is-empty{
			display: none;
		}
	}
	.wordcamp-schedule__session{
		display: flex;
		flex-flow: column;
		padding: 1rem;
		box-shadow: 0 0 1px 0 $color__grey_verylight !important;
		&-title{
			order: 1;
			display: flex;
			justify-content: space-between;
			line-height: 110%;
			@include tablet{
				font-size: 1.125rem;
			}
			>a{
				color: $color__secondary;
				&:hover{
					color: $color__quaternary;
					text-decoration: underline;
				}
			}
			+ p{
				display: none;
			}
		}
		&-category{
			order: 2;
			font-size: .75rem;
			color: $color__grey_blue;
			margin-top: 0;
		}
		&-speakers{
			order: 3;
			margin-top: 0;
			a{
				color: $color__quaternary;
				text-decoration: underline;
			}
			&:before{
				content: 'by ';
				color: $color__grey_blue;
			}
		}
		&.is-type-custom{
			.wordcamp-schedule__session-title{
				justify-content: center;
			}
		}
		.dashicons {
			position: relative;
			box-sizing: content-box;
			width: 1rem;
			height: 1rem;
			overflow: hidden;
			white-space: nowrap;
			font-size: 16px;
			line-height: 1;
			color: $color__quaternary;
			cursor: pointer;
			&:before {
				content: "\f154";
				margin-right: 0px;
			}
		}
		&.wcb-favourite-session{
			background-color: $color__tertiary_10;
			.wcb-session-favourite-icon{
				.dashicons{
					&:before{
						content: "\f155";
					}
				}
			}
			&:hover{
				background-color: $color__quaternary;
			}
		}
	}
}

/*_______ Adding Porto times to the schedule (by Bernhard Kau) _____*/
#wordcamp-schedule__day-2022-06-03-tracks-all .wordcamp-schedule__time-slot-header:nth-of-type(1)::after {
	content: "(08:00 Porto)";
}

#wordcamp-schedule__day-2022-06-03-tracks-all .wordcamp-schedule__time-slot-header:nth-of-type(2)::after {
	content: "(08:30 Porto)";
}

#wordcamp-schedule__day-2022-06-03-tracks-all .wordcamp-schedule__time-slot-header:nth-of-type(3)::after {
	content: "(09:30 Porto)";
}

#wordcamp-schedule__day-2022-06-03-tracks-all .wordcamp-schedule__time-slot-header:nth-of-type(4)::after {
	content: "(10:00 Porto)";
}

#wordcamp-schedule__day-2022-06-03-tracks-all .wordcamp-schedule__time-slot-header:nth-of-type(5)::after {
	content: "(11:00 Porto)";
}

#wordcamp-schedule__day-2022-06-03-tracks-all .wordcamp-schedule__time-slot-header:nth-of-type(6)::after {
	content: "(12:00 Porto)";
}

#wordcamp-schedule__day-2022-06-03-tracks-all .wordcamp-schedule__time-slot-header:nth-of-type(7)::after {
	content: "(13:00 Porto)";
}

#wordcamp-schedule__day-2022-06-03-tracks-all .wordcamp-schedule__time-slot-header:nth-of-type(8)::after {
	content: "(14:00 Porto)";
}

#wordcamp-schedule__day-2022-06-03-tracks-all .wordcamp-schedule__time-slot-header:nth-of-type(9)::after {
	content: "(15:00 Porto)";
}

#wordcamp-schedule__day-2022-06-03-tracks-all .wordcamp-schedule__time-slot-header:nth-of-type(10)::after {
	content: "(16:00 Porto)";
}

#wordcamp-schedule__day-2022-06-03-tracks-all .wordcamp-schedule__time-slot-header:nth-of-type(11)::after {
	content: "(17:00 Porto)";
}

#wordcamp-schedule__day-2022-06-03-tracks-all .wordcamp-schedule__time-slot-header:nth-of-type(12)::after {
	content: "(18:00 Porto)";
}

#wordcamp-schedule__day-2022-06-04-tracks-all .wordcamp-schedule__time-slot-header:nth-of-type(1)::after {
	content: "(08:30 Porto)";
}

#wordcamp-schedule__day-2022-06-04-tracks-all .wordcamp-schedule__time-slot-header:nth-of-type(2)::after {
	content: "(09:00 Porto)";
}

#wordcamp-schedule__day-2022-06-04-tracks-all .wordcamp-schedule__time-slot-header:nth-of-type(3)::after {
	content: "(10:00 Porto)";
}

#wordcamp-schedule__day-2022-06-04-tracks-all .wordcamp-schedule__time-slot-header:nth-of-type(4)::after {
	content: "(11:00 Porto)";
}

#wordcamp-schedule__day-2022-06-04-tracks-all .wordcamp-schedule__time-slot-header:nth-of-type(5)::after {
	content: "(12:00 Porto)";
}

#wordcamp-schedule__day-2022-06-04-tracks-all .wordcamp-schedule__time-slot-header:nth-of-type(6)::after {
	content: "(13:00 Porto)";
}

#wordcamp-schedule__day-2022-06-04-tracks-all .wordcamp-schedule__time-slot-header:nth-of-type(7)::after {
	content: "(14:00 Porto)";
}

#wordcamp-schedule__day-2022-06-04-tracks-all .wordcamp-schedule__time-slot-header:nth-of-type(8)::after {
	content: "(15:00 Porto)";
}

#wordcamp-schedule__day-2022-06-04-tracks-all .wordcamp-schedule__time-slot-header:nth-of-type(9)::after {
	content: "(16:00 Porto)";
}

#wordcamp-schedule__day-2022-06-04-tracks-all .wordcamp-schedule__time-slot-header:nth-of-type(10)::after {
	content: "(17:00 Porto)";
}

#wordcamp-schedule__day-2022-06-04-tracks-all .wordcamp-schedule__time-slot-header:nth-of-type(11)::after {
	content: "(17:30 Porto)";
}

#wordcamp-schedule__day-2022-06-04-tracks-all .wordcamp-schedule__time-slot-header:nth-of-type(12)::after {
	content: "(18:30 Porto)";
}

#wordcamp-schedule__day-2022-06-04-tracks-all .wordcamp-schedule__time-slot-header:nth-of-type(13)::after {
	content: "(20:30 Porto)";
}

/*_______ Old schedule block _____*/
.wcpt-schedule{
	border-collapse: collapse;
	margin-left: auto !important;
	margin-right: auto !important;
	thead{
		border: none;
		th{
			font-family: $font__main;
			font-weight: 700;
			font-size: 1.75rem;
			text-align: center;		
			color: $color__primary;
			padding: 1rem;
			background-color: $color__tertiary;
			border: .125rem solid $color__secondary;
			&:first-of-type,
			&.wcpt-col-time{
				font-size: 0;
				text-indent: -9999px;
				color:$color__primary;
				padding: 0;
				background-color: $color__primary;
				border: none;
				margin: 0;
			}
		}
	}
	tbody{
		width: 100%;
		tr{
			border: none;
			vertical-align: top;
			td{
				position: relative;
				width: auto;
				padding: 1.5rem;
				border: .125rem solid $color__secondary;
				&:first-of-type,
				&.wcpt-time{
					display: table-cell;
					min-width: 15%;
					font-weight: 700;
					font-size: 1rem;
					text-align: left;
					line-height: 100%;
					color: $color__primary;
					padding: .5rem 1rem;
					background-color: $color__secondary;
					border: none;
					overflow: hidden;
					@include tablet-portrait{
						display: block;
						text-align: right;
						padding: .5rem;
					}
					&:before {
						display: block;
						font-size: 1rem;
						margin-bottom: .25rem;
					}
					&:after {
						content: " CEST";
						font-size: 80%;
					}
				}
				&.wcpt-session-type-session,
				&.wcpt-session-type-custom{
					@include tablet-portrait{
						width: 45%;
					}
					.wcpt-session-title{
						font-family: $font__main;
						font-weight: 700;
						font-size: 1.25rem;
						text-decoration: none;
						@include phone-portrait{
							font-size: 1.5rem;
						}
						@include tablet-portrait{
							font-size: 1.5rem;
						}
					}
				}
				&.wcpt-session-type-custom{
					text-align: center;
					.wcpt-session-title{
						justify-content: center;
						margin-bottom: 0;
					}
				}
				&.wcpt-session-type-session{
					height: inherit;
					vertical-align: top;
					&:before{
						display: inline-block;
						font-weight: 700;
						font-size: .875rem;
						line-height: 100%;
						color: $color__primary;
						padding: .25rem .5rem;
						background-color: $color__tertiary;
						border: none;
						margin-bottom: .5rem;
						@include tablet-portrait{
							display: none;
						}
					}
					&.wcb-track-track-1.wcb-track-track-2{
						@include tablet-portrait{
							text-align: center;
						}
					}
					.wcb-session-cell-content{
						@include tablet-portrait{
							padding-right: 2rem;
						}
						.wcpt-session-title{
							display: block;
							font-size: 1.25rem;
							line-height: 120%;
							text-decoration: none;
							margin-bottom: .5rem;
							padding: 0;
							@include phone-tiny{
								font-size: 1.5rem;
							}
							@include tablet-portrait{
								font-size: 1.5rem;
							}
						}
						.wcpt-session-speakers{
							width: auto;
							font-weight: 700;
							font-size: 1.25rem;
							color: $color__primary;
							padding: 0;
							margin-top: auto;
							margin-bottom: 0;
							&:before{
								content: 'by ';
								font-weight: 400;
								font-style: normal;
								font-size: 1.125rem;
								color: $color__tertiary;
							}
							a{
								@extend %camptix-nice-link;
							}
						}
					}
					.wcb-session-favourite-icon{
						position: absolute;
						top: 1rem;
						right: .5rem;
						.dashicons{
							color: $color__tertiary;
							text-decoration: none;
							&:before{
								content: "\f154";
								@extend %transition;
							}
						}
					}
				}
				&.wcb-favourite-session{
					background-color: $color__tertiary;
					.wcb-session-favourite-icon{
						.dashicons{
							color: $color__secondary;
							&:before{
								content: "\f155";
							}
						}
					}
					&:hover{
						background-color: $color__tertiary;
					}
				}
				&.wcpt-session-empty {
					@include tablet-portrait{
						display: none;
					}
				}
			}
		}
	}
}

/*_______ Favorite Sessions tool styles _______*/
.entry-content{
	a.show-email-form {
		bottom: 1rem;
		right: 1rem;
		line-height: 100%;
		color: $color__primary !important;
		padding: .5rem;
		background: $color__secondary;
		border: .125rem solid $color__secondary;
		border-radius: 0;
		box-shadow: -.25em .25em 0 $color__tertiary;
		z-index: 9999;
		@extend %transition;
		&:hover{
			color: $color__tertiary !important;
			background-color: $color__primary;
			box-shadow: -.125em .125em 0 $color__tertiary;
			border-color: $color__primary;
		}
		.dashicons-star-filled{
			&:before{
				content: "\f537";
				vertical-align: middle;
			}
		}
		.dashicons-email-alt{
			width: auto;
			height: auto;
			font-family: $font__main;
			font-weight: 700;
			font-size: 1.25rem;
			speak: normal;
			&:before{
				content: "Save favourites";
			}
		}
	}
}

.email-form {
	max-width: $size__content-minimun;
	right: .5rem;
	bottom: 4rem;
	font-size: 1rem;
	border-radius: 0;
	@include phone-tiny{
		max-width: 350px;
		right: 1rem;
	}
	&.fav-session-email-form-show{
		padding: 0;
		border: .125rem solid $color__primary;
		box-shadow: -0.25em 0.25em 0 $color__primary;
		margin-bottom: 0;
	}
}

.fav-session-share-tab {
	background-color: white;
	border: none;
	@extend %transition;
	.fav-session-tablinks{
		font-size: 1rem;
		padding: .5rem 1rem;
		&:hover{
			background-color: $color__tertiary;
		}
		&.active {
			font-weight: 700;
			background-color: $color__tertiary;
		}
	}
}

.fav-session-share-tabcontent {
	font-weight: 700;
	font-size: 1.25rem;
	padding: 1rem;
	background-color: white;
}

#fav-session-email-form{
	margin: 0;
	#fav-sessions-email-address{
		margin-top: .5rem;
		margin-bottom: 1rem;
		padding: .5rem;
	}
	input[type="submit"]{
		padding: .5rem 1.5rem;
	}
}

#fav-sessions-link{
	display: block;
	width: 100%;
	font-weight: 700;
	font-size: 1rem;
	line-height: 100%;
	color: $color__secondary;
	word-break: break-all;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin: 1rem auto;
}

#fav-session-print{
	font-size: 1.25rem;
	&:before{
		content: "\f491";
		font-family: 'dashicons';
		vertical-align: middle;
	}
}

/*_______ Sponsors Schedule table _______*/
.sponsors-schedule{
	empty-cells: hide;
	thead{
		tr{
			th{
				width: 22.75%;
				&:first-of-type{
					width: 100px;
				}
			}
		}
	}
	tbody{
		tr{
			td{
				font-weight: 700;
				line-height: 120%;
				&:first-of-type{
					font-size: 1rem;
					line-height: 120%;
					&:after{
						display: none;
					}
				}
				&:empty{
					&:before{
						content: '';
						display: block;
						position: absolute;
						top: -.5rem;
						left: 0;
						width: 100%;
						height: .5rem;
						background-color: white;
					}
				}
				a{
					@extend %camptix-nice-link;
					text-align: center !important;
					margin-bottom: .5rem;
				}
			}
		}
	}
	&.three-areas{
		thead{
			tr{
				th{
					width: 30%;
					&:first-of-type{
						width: 100px;
					}
				}
			}
		}
	}
}

/*_______ Live Schedule block _______*/
.wp-block-wordcamp-live-schedule{
	.wordcamp-live-schedule{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		.wordcamp-live-schedule__title{
			width: 100%;
			text-align: center;
		}
		.wordcamp-live-schedule__session{
			display: block;
			@extend %camptix-item;
			flex: 1 1 100%;
			margin-bottom: 2rem;
			@include tablet-portrait{
				flex: 0 1 48%;
			}
			&.type-custom{
				.wordcamp-live-schedule__session-speaker{
					display: none;
				}
			}
		}
		.wordcamp-live-schedule__session-track{
			width: auto;
			display: inline-block;
			font-weight: 700;
			font-size: 1.25rem;
			padding: .25rem .5rem;
			background-color: $color__tertiary;
			margin-bottom: 1rem;
		}
		.wordcamp-live-schedule__session-details{
			width: 100%;
			display: flex;
			flex-flow: column wrap;
			margin: 0;
			.wordcamp-live-schedule__session-title{
				font-size: 2rem;
				margin-bottom: .5rem;
				a{
					text-decoration: none;
				}
			}
			.wordcamp-live-schedule__session-time{
				display: block;
				font-weight: 700;
				padding-left: .5rem;
				border-left: .25rem solid $color__secondary;
				margin-bottom: 1rem;
				order: -1;
				&:after{
					content: ' UTC';
					font-weight: 400;
					font-size: 80%;
				}
			}
			.wordcamp-live-schedule__session-speaker{
				display: inline-block;
				width: auto;
				font-weight: 700;
				font-size: 1.5rem;
				color: $color__secondary;
				margin-bottom: .5rem;
				&:before{
					content: 'by ';
					font-weight: 400;
					font-style: normal;
					font-size: 1.125rem;
					color: $color__primary;
				}
			}
			.wordcamp-live-schedule__session-cats{
				display: block;
				font-weight: 700;
				font-size: .875rem;
				line-height: 100%;
				text-transform: uppercase;
				color: $color__grey_verylight;
			}
		}
	}
}