/*_______ Speaker & Session singles _______*/
.single-wcb_speaker,
.single-wcb_session{
	.entry-header{
		display: block;
	}
	.entry-title{
		&::before{
			display: block;
			font-size: 1.25rem;
			line-height: 100%;
			color: $color__tertiary;
			margin: 0;
			@include tablet-portrait{
				font-size: 1.5rem;
			}
		}
	}
	.entry-content{
		@extend %inner-moretiny;
		margin: 0 auto;
	}
}

.single-wcb_speaker{
	.entry-title{
		&::before{
			content: '/Speaker';
		}
	}
}

.single-wcb_session{
	.entry-title{
		&::before{
			content: '/Session';
		}
	}
}

/*_______ Speaker single _______*/
.speaker-avatar{
	margin-bottom: 2rem;
	z-index: 1;
	img{
		display: block;
		width: 6rem;
		height: 6rem;
		border-radius: 100%;
	}
}

.wp-block-wordcamp-speaker-sessions{
	border-left: 0.25rem solid;
	li{
		&::before{
			display: none;
		}
		p{
			margin-bottom: .5rem;
		}
	}
}

#speaker-session-names{
	list-style: none;
	@extend %camptix-item;
	margin-left: 2rem;
	margin-right: 2rem;
	margin-bottom: 2rem;
	@include tablet-portrait{
		margin-left: auto;
		margin-right: auto;
	}
	&:hover{
		transform: none;
	}
	li{
		padding: 0;
		margin: 0;
		&:before{
			display: none;
		}
		a{
			font-family: $font__main;
			font-size: 1.75rem;
			font-weight: 700;
			line-height: 110%;
			color: $color__secondary;
			&:focus,
			&:hover{
				text-decoration: underline;
				color: $color__primary;
			}
		}
	}
}

/*_______ Session single _______*/
.session-speakers{
	display: inline-block;
	font-size: 1.125rem;
	color: $color__primary !important;
    margin-right: .5rem;
	&:after{
		content: ':';
	}
}
#session-speaker-names{
	display: inline-block !important;
	list-style: none;
	padding-left: 0 !important;
	li{
		padding: 0;
		margin: 0;
		&:before{
			display: none;
		}
		a{
			@extend %camptix-nice-link;
			font-family: $font__main;
		}
	}
}

.session-categories-links{
	@extend %inner-moretiny;
	margin-top: 0 !important;
	display: block;
	&:before{
		content: 'Category: ';
		font-family: $font__main;
		font-weight: 700;
		font-size: 1rem;
	}
	a{
		@extend %camptix-nice-link;
	}
}